<ion-card button="true" [routerLink]="''+activity.event_id" routerDirection="forward">
    <ion-card-content no-padding>
        <ion-img [src]="activity.thumbnail_url"></ion-img>
    </ion-card-content>
    <ion-card-content>
        <p>
            <ion-card-title>{{activity.title_en}}</ion-card-title>
        </p>
        <p>
            <ion-chip *ngIf="this.activity.category" color="secondary">
                <ion-label>{{activity.category}}</ion-label>
            </ion-chip>
        </p>
    <ion-grid>
        <ion-row>
            <ion-col>2h</ion-col>
            <ion-col>
                <ion-icon icon="train">train</ion-icon>
                train
            </ion-col>
            <ion-col *ngIf="this.activity.price; else elseBlock">ca. {{activity.price}} CHF</ion-col>
            <ng-template #elseBlock>no information</ng-template>
        </ion-row>
    </ion-grid>
    </ion-card-content>
</ion-card>

