ion-img {
  height: 100px;
  object-fit: cover;
}
/*
ion-card {
  padding: 0 !important;
  max-height: 250px;
}
ion-grid{
  padding-left: 0 !important;
  padding-top: 0 !important;
}

ion-row{
  padding-left: 0 !important;
  padding-top: 0 !important;
}

ion-col{
  padding-left: 0 !important;
  padding-top: 0 !important;
  padding-right: 10px;
}
.card-text {
  padding-left: 5px !important;
}*/

