<ion-card button="true" [routerLink]="''+activity.event_id" routerDirection="forward">
    <ion-card-content class="ion-no-padding">
        <ion-img [src]="activity.thumbnail_url" alt=""></ion-img>
    </ion-card-content>
    <ion-card-content>
        <p>
            <ion-card-title>{{activity.title_en}}</ion-card-title>
        </p>
        <p>
            <ion-chip *ngIf="this.activity.category" color="secondary">
                <ion-label>{{activity.category}}</ion-label>
            </ion-chip>
        </p>
    <ion-grid>
        <ion-row>
            <ion-col>
                <p *ngIf="this.activity.duration; else second">{{activity.duration}} Min</p>
                <ng-template #second>
                    <p *ngIf="this.activity.start_time; else elseBlock">Start time: {{activity.start_time | slice: 0:5}}</p>
                </ng-template>
                <ng-template #elseBlock>
                    <p>No info.</p>
                </ng-template>
            </ion-col>
            <ion-col>
                <ion-icon icon="train">train</ion-icon>
                train
            </ion-col>
            <ion-col >
                <p *ngIf="this.activity.price; else elseBlock">ca. {{activity.price}} CHF</p>
            <ng-template #elseBlock>
                <p>No info.</p>
            </ng-template>
            </ion-col>
        </ion-row>
    </ion-grid>
    </ion-card-content>
</ion-card>

