<ion-card button="true" [routerLink]="''+activity.event_id" routerDirection="forward">
    <ion-grid>
        <ion-row>
            <ion-col size="9">{{activity.short_description_en}}</ion-col>
            <ion-col>type: Train</ion-col>
        </ion-row>
        <ion-row>
            <ion-col>price: 300 CHF</ion-col>
            <ion-col>Duration 3h</ion-col>
        </ion-row>

    </ion-grid>

    <div class="row">
        <ion-img [src]="activity.thumbnail_url"></ion-img>
    </div>
    <div class="row">
        <ion-card-content>
            {{activity.long_description_en}}
        </ion-card-content>
    </div>
</ion-card>
