ion-content {
  --overflow: hidden;
}

.welcome-card img {
  max-height: 10vh;
  overflow: hidden;
}
.toolbar-title {
  text-align: center;
}

ion-item-group {
  width: 100%;
}

ion-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

$fab-size: 150px;
ion-fab-button {
  width: $fab-size !important;
  height: $fab-size !important;
  margin-left: -(($fab-size - 56)/2); // 56 is default size of fab button
  margin-top: -(($fab-size - 56)/2 - 10);
}

ion-fab-button > ion-icon {
  width: 50px;
  height: 50px;
}

.current-location {
  width: 100%;
  padding: 120px 0 50px 0;
  text-align: center;
  font-size: 28px;
}

@font-face {
  font-family: 'Roboto';
  src:url('../../assets/fonts/Roboto/Roboto-Medium.ttf');
}

ion-label{
  font-family: 'Roboto';
  src:url('../../assets/fonts/Roboto/Roboto-Medium.ttf');
  font-size: 1.7em;
  text-align: center;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
span {
  padding-bottom: 20px!important;
}

p {
  color: #000000;
  font-size: 2.3em;
  font-weight: bold;
  padding-top: 20px;
  margin-bottom: 0;
  font-family: 'Strawberry Dreams';
  src: url('../../assets/fonts/Strawberry_Dreams/strawberry_dreams.ttf');
}

@font-face{
  font-family: 'Strawberry Dreams';
  src: url('../../assets/fonts/Strawberry_Dreams/strawberry_dreams.ttf');
}
.icon_title{
  font-size: 330px;
}

#iconicon{
  height: 200px !important;
  width: 200px !important;
  color: #000000;
}
ion-range{
  --knob-size: 30px;
}

