<ion-content>
    <div style="height: 50%">
        <ion-img src="https://farm2.staticflickr.com/1139/5160475075_7cb176b4ce_b.jpg"></ion-img>
    </div>
    <ion-fab horizontal="center" vertical="center" slot="fixed">
        <ion-fab-button color="primary" [routerLink]="'/list'"
                        [queryParams]="{ duration: duration, long: locationlongitude, lat: locationLatitude}">
            <ion-icon name="arrow-dropright"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <div>
        <ion-grid>
            <ion-row>
                <span class="current-location"><ion-icon icon="pin"></ion-icon>
                    {{locationDescriptiveName}}</span>
            </ion-row>
            <ion-row>
                <ion-item-group>
                    <label>Duration {{duration}}h</label>
                    <ion-range min="2" max="10" step="1" snaps="true" [(ngModel)]="duration">
                        <ion-label slot="start">2h</ion-label>
                        <ion-label slot="end">10h+</ion-label>
                    </ion-range>
                </ion-item-group>
            </ion-row>
        </ion-grid>
    </div>


</ion-content>
