.toolbar-title {
  text-align: center;
}
@font-face {
  font-family: 'Roboto';
  src:url('../../assets/fonts/Roboto/Roboto-Medium.ttf');
}

ion-img{
  height: 37px!important;
  width: 37px!important;
}
