<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ng-container *ngFor="let item of items">
      <app-activity-card
              [activity]="{name: 'SBB Surprise Ride', thumbnail_url: 'https://d37dhr5745n0y2.cloudfront.net/7/82/0c/7820cc682c0db38e08caf2450d5ad51656fdca71.jpg'}"></app-activity-card>
    </ng-container>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->

</ion-content>
