<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="toolbar-title">
      Activities
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-img src="../../assets/icon/icon.png"></ion-img>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="9">
        <ion-searchbar (ionInput)="filterList($event)">
        </ion-searchbar>
      </ion-col>
      <ion-col size="3">
        <ion-fab>
          <ion-fab-button color="success">
            <ion-icon name="funnel"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="left">
            <ion-fab-button color="dark" (click)="sortActivityByPrice()">
              <ion-icon name="logo-usd"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="dark" (click)="sortActivityByDuration()">
              <ion-icon name="time"></ion-icon>
            </ion-fab-button>
          </ion-fab-list>
        </ion-fab>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ng-container *ngFor="let item of items">
      <app-activity-card
              [activity]="item"></app-activity-card>
    </ng-container>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->

</ion-content>
