<ion-header>
    <ion-toolbar>
        <ion-title>{{activity.title_en}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div id="profile-info" *ngIf="this.activity">
        <div id="overview">
            <img id="profile-image" [src]="activity.thumbnail_url">
        </div>
        <div class="white">
            <ion-row class="profile-numbers">
                <ion-col col-4>
                    <p>Time</p>
                    <span>{{activity.start_time | slice:0:5}}</span>
                </ion-col>
                <ion-col col-4>
                    <p>Distance</p>
                    <span>5 min walking</span>
                </ion-col>
                <ion-col col-4>
                    <p>Cost</p>
                    <span>{{activity.price_information}}</span>
                </ion-col>
            </ion-row>
            <hr/>
            <span>{{activity.long_description_en}}</span>
        </div>

    </div>

</ion-content>
