#profile-image {
  display: block;
  border-radius: 5%;
  width: 200px;
  height: 200px;
  margin: 0 auto 0;
  //box-shadow: 0px 11px 20px -3px rgba(142, 136, 146, 0.75);
}

ion-toolbar {
  text-align: center;
}


.toolbar-title {
  text-align: center;
  color: white;
}

.white {
  background-color: white;
  margin-left: 30px;
  margin-right: 30px;

}

// Following, Followers and all..
.profile-numbers {

  text-align: center;

  p {
    color: #444;
    font-size: medium;
    margin-bottom: 3px;
  }

  ion-col {
    font-weight: bold;
    font-size: 1.4rem;
    color: #34354c;
  }

}

hr {
  margin-top: 20px;
  border: 0;
  height: 1px;
  background: #444;
  background: -webkit-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, rgb(188, 198, 214) 50%, hsla(0, 0%, 0%, 0) 100%);
}

#profile-info{
  border-bottom: white 3rem;
  font-size: 0.9rem;
}
