<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title *ngIf="this.activity">{{activity.title_en}}</ion-title>
        <ion-buttons slot="primary">
            <ion-buttons slot="primary">
                <ion-button>
                    <ion-img src="../../assets/icon/icon.png"></ion-img>
                </ion-button>
            </ion-buttons>
        </ion-buttons>
    </ion-toolbar>
    <ion-card no-margin>
        <img id="profile-image" *ngIf="this.activity" [src]="activity.thumbnail_url" alt="">
    </ion-card>
</ion-header>
<ion-content>
    <div id="profile-info" *ngIf="this.activity">
            <ion-card>
            <ion-row>
                <ion-chip *ngIf="this.activity.category" color="secondary">
                    <ion-label>{{activity.category}}</ion-label>
                </ion-chip>
            </ion-row>
            <ion-row>
                <ion-col>
                    <p>Start</p>
                </ion-col>
                <ion-col>
                    <p *ngIf="this.activity.start_time; else elseBlock" class="info-data">{{activity.start_time | slice: 0:5}}</p>
                    <ng-template #elseBlock>
                        <p class="info-data">No info.</p>
                    </ng-template>
                </ion-col>
                <ion-col>
                    <p>End</p>
                </ion-col>
                <ion-col>
                    <p *ngIf="this.activity.end_time; else elseBlock" class="info-data">{{activity.end_time | slice: 0:5}}</p>
                    <ng-template #elseBlock>
                        <p class="info-data">No info.</p>
                    </ng-template>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <p>Journey</p>
                </ion-col>
                <ion-col>
                    <p>
                        <ion-icon icon="train"></ion-icon>
                    </p>
                </ion-col>
                <ion-col>
                    <p>Price</p>
                </ion-col>
                <ion-col >
                    <p *ngIf="this.activity.price; else elseBlock" class="info-data">{{activity.price}} CHF</p>
                    <ng-template #elseBlock>
                        <p class="info-data">No info.</p>
                    </ng-template>
                </ion-col>
            </ion-row>
                <hr>
                <ion-card-content>
                <span [innerHTML]="activity.long_description_en"></span>
                </ion-card-content>
            </ion-card>
    </div>
</ion-content>
