<ion-header>
    <ion-toolbar>
        <ion-title>Cooking in Zurich</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div id="profile-info">

    </div>
    <div class="white">
        <ion-row class="profile-numbers">
            <ion-col col-4>
                <p>Time</p>
                <span>19:00</span>
            </ion-col>
            <ion-col col-4>
                <p>Distance</p>
                <span>5 min walking</span>
            </ion-col>
            <ion-col col-4>
                <p>Cost</p>
                <span>5 CHF</span>
            </ion-col>
        </ion-row>
        <hr/>
    </div>
</ion-content>
